.root-top-bar{
    /* position:relative;
    background-color: blue;
    height: 100vh; */
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px;
}

/* sx={{ width: '100%', backgroundColor: COLORS.PRIMARY, display: 'flex', justifyContent: 'flex-start', alignItems: 'center', padding:'9px 0px' }} */

main{
    padding-top:50px ;
    /* background-color: aquamarine; */
}