.root{
    height: 100vh;
}

.left-root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.paper{
    padding: 30px;
    width: 60%;
}

.signup-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 20px;
}
.login-text{
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 700;
    text-decoration: none;
    color: teal;
    background-color: white;
}

.username-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.user-image{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    background-color: teal;
}

.dev-container{
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-color: teal;
    border-style: dashed;
    border-radius: 5px;
    margin-bottom: 10px;
    align-items: center;
    padding-left: 10px;
    color: teal;
}

.icon-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 20px;
}